@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Heading-1 {
    font-size: 36px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

.Heading-2 {
    font-size: 28px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

.Heading-3 {
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

.heading-tema {
    font-size: 36px;
    font-family: 'Jost',sans-serif;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-navbar {
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    position: fixed;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-pallet-green);
}

.navbar-header {
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: space-between;
}

.navbar-navbar1 {
    width: 1026px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.navbar-searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2px;
}

.section-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    justify-content: center;
}

.section-container2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--dl-space-space-fiveunits);
}

.section-container-categorias {
    width: 100%;
    display: flex;
    padding-top: var(--dl-space-space-fiveunits);
    flex-direction: column;
    align-items: center;
}

.navbar-image {
    width: 24px;
    height: 24px;
    z-index: 100;
    margin-right: -32px;
}

.navbar-textinput {
    width: 176px;
    height: 39px;
    max-width: var(--dl-size-size-xxlarge);
    transition: 0.3s;
    border-color: var(--dl-color-gray-700);
    border-width: 1px;
    padding-left: var(--dl-space-space-threeunits);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    background-color: var(--dl-color-pallet-green);
}

    .navbar-textinput:hover {
        border-color: var(--dl-color-pallet-yellow);
    }

    .navbar-textinput:active {
        width: 176px;
        height: 39px;
        max-width: var(--dl-size-size-xxlarge);
        transition: 0.3s;
        border-color: var(--dl-color-gray-700);
        border-width: 1px;
        padding-left: var(--dl-space-space-threeunits);
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
    }

.navbar-middle {
    width: 1463px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: start;
    flex-shrink: 1;
    border-color: transparent;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
}

.navbar-left {
    display: flex;
    grid-gap: 45px;
    position: relative;
    align-items: flex-start;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
}

.navbar-text {
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
    width: 100px;
}

    .navbar-text:hover {
        color: var(--dl-color-pallet-yellow);
    }


.navbar-logo-center {
    color: var(--dl-color-gray-black);
    cursor: pointer;
    height: auto;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    line-height: 20px;
    margin-left: var(--dl-space-space-threeunits);
    transition: 0.3s;
    letter-spacing: 0.4em;
    text-decoration: none;
    width: 200px;
}

    .navbar-logo-center:hover {
        color: var(--dl-color-pallet-yellow);
        font-size: 30px;
        letter-spacing: 0.45em;
        width: 230px;
    }

.navbar-link {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    height: auto;
    font-size: 13px;
    text-align: left;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    position: relative;
    align-items: flex-start;
    margin-left: var(--dl-space-space-unit);
}

.navbar-icon {
    width: 26px;
    height: 26px;
    transition: 0.3s;
}

    .navbar-icon:hover {
        fill: var(--dl-color-pallet-yellow);
        cursor: pointer;
    }

.index-thq-dropdown {
    width: 118px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
}

.index-dropdown-toggle {
    fill: #595959;
    color: #595959;
    width: 77px;
    display: inline-flex;
    align-items: center;
    margin-left: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius2);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: flex-start;
}

.index-dropdown-arrow {
    transition: 0.3s;
}

.index-icon02 {
    width: 18px;
    height: 18px;
    margin-top: auto;
    transition: 0.3s;
    margin-bottom: auto;
}

.index-image-acc {
    width: 26px;
    height: 26px;
    object-fit: cover;
    transition: 0.3s;
    border-color: transparent;
}

.index-dropdown-list {
    left: -43px;
    width: max-content;
    bottom: -76px;
    display: none;
    z-index: 100;
    position: absolute;
    min-width: 100%;
    transition: 0.3s;
    align-items: stretch;
    border-radius: var(--dl-radius-radius-radius4);
    flex-direction: column;
    list-style-type: none;
    background-color: var(--dl-color-pallet-green);
    list-style-position: inside;
}

.index-dropdown {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
}

.index-dropdown-toggle1 {
    fill: #595959;
    color: var(--dl-color-gray-black);
    width: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-pallet-green);
}

    .index-dropdown-toggle1:hover {
        fill: #fff;
        color: var(--dl-color-gray-white);
        background-color: var(--dl-color-gray-500);
    }

.index-text04 {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.index-dropdown1 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
}

.index-dropdown-toggle2 {
    fill: #595959;
    color: var(--dl-color-gray-black);
    width: 100%;
    display: inline-flex;
    transition: 0.3s;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-pallet-green);
}

    .index-dropdown-toggle2:hover {
        fill: #fff;
        color: var(--dl-color-gray-white);
        background-color: var(--dl-color-gray-500);
    }

.index-text07 {
    width: 100%;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.index-dropdown2 {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border-radius: var(--dl-radius-radius-radius2);
}

@media(max-width: 991px) {
    .navbar-searchbar {
        display: none;
    }

    .navbar-left {
        display: none;
    }

    .navbar-right {
        display: none;
    }
}

@media(max-width: 479px) {
    .navbar-header {
        padding: var(--dl-space-space-unit);
    }
}
